
<nav>left</nav>
 <main>
  <p id="new2">卒業に必要な単位を教えてください</p>
   <div class="new_form">
     <%= form_with(model: @user, url: users_path, local: true, data: { turbo: false }) do |f| %>
     <% end %>
   </div>
 </main>
 <aside>right</aside>