   /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
   

 
   * {
       margin: 0;
       padding: 0;
     } /* 全体をリセット */


   body {
          margin: 0;
          min-height: 105vh;
          display: flex;
          flex-direction: column;
          font-family: "Avenir Next";
    }  /* ヘッダー,メイン,フッターのレイアウト */


    header {
    background-color: #3f3f3f;
    color: white;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 1;
    }  /* ヘッダー全体のレイアウト */

    header a{
        text-decoration: none;
        color: white;
        
    } /* リンクの下線の消去 */

    header a:visited {
        color: white;
    } /* リンクのvisitedの色変化削除 */

    header a:hover{
        text-decoration: underline;
        text-decoration-color: rgb(250, 237, 237);
        text-underline-offset: 0.5em;
    }

    .contents a{
      color: black;
    }

    header li:hover{
      text-decoration: underline;
        text-decoration-color: rgb(250, 237, 237);
        text-underline-offset: 0.5em;
        cursor: pointer;
    }

    .header-logo{
        float: left;
        border-right: 2px solid black;
        font-size: 130%;
        padding-top: 7px;
        padding-left: 20px;
        padding-right: 19px;
        padding-bottom: 5px;
    }  /* 履修登録Appのレイアウト */

   
    .header-list-left li{
        list-style: none;
        float: left;
        font-size: 120%;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 20px;
    }  /* 時間割,ブックマーク,ブックマーク登録のレイアウト */

    
    .header-list-right li{
        list-style: none;
        float: right;
        padding-top: 10px;
        margin-right: 60px;
        font-size: 120%;
    }  /* 新規登録,ログイン,ログアウト,設定の個々のレイアウト */


    #header-setting{
      border-right: 2px solid black;
      padding-left: 30px;
      padding-bottom: 6px;
      padding-right: 40px;
      margin-right: 0px;
    }


    #header-schedule{
      border-right: 2px solid black;
      padding-left: 30px;
      padding-bottom: 6px;
      padding-right: 30px;
    }

    #header-time{
      border-right: 2px solid black;
      padding-left: 30px;
      padding-bottom: 6px;
      padding-right: 30px;
    }

    #header-bookmark{
      border-right: 2px solid black;
      padding-left: 30px;
      padding-bottom: 6px;
      padding-right: 30px;
    }

    #header-create-bookmark{
      border-right: 2px solid black;
      padding-left: 30px;
      padding-bottom: 6px;
      padding-right: 30px;
    }
    


    .layout main {
    /* outline: 1px solid gray; */
    flex: 1;
    }  /* 全てのhtmlファイル共通のmain(真ん中)部分設定 */


    .layout nav {
    /* outline: 1px solid gray; */
    width: 250px;
    }  /* 全てのhtmlファイル共通のnav(左側)部分設定 */

    .layout aside {
    /* outline: 1px solid gray; */
    width: 250px;
    }  /* 全てのhtmlファイル共通のaside(右側)部分設定 */

    footer {
    background-color: #3f3f3f;
    color: white;
    }  /* 全てのhtmlファイル共通のfooter(下側)部分設定 */


    .layout{
        display: flex;
        flex: 1;
        background-color: #eef0f1;
    }  /* 全てのhtmlファイル共通のnav+main+footer部分設定 */



    /* ログインフォームのレイアウトの初め */
    .login_form{
        width: 530px;
        border: solid 1px #000000;
        margin-left: 180px;
        margin-right: 180px;
        background-color: white;
        border-radius: 10px;
    }

    #login_flash {
        padding-left: 140px;
        padding-top: 15px;
        color: red;
    }

    #logout_flash {
        padding-left: 220px;
        padding-top: 15px;
        color: green;
    }

    #login_flash_error{
        padding-left: 220px;
        padding-top: 15px;
        color: red;
    }

    .login_form form{
        padding-left: 55px;
        padding-top :20px;
        font-size: 16px;
    }

    .login_form label{
        margin-bottom: 5px;
        display: inline-block;
     }


     .login_form .name{
        margin-bottom: 25px;
     }

     .login_form .name input{
        width: 230px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;

     }

     .login_form .password{
        margin-bottom: 25px;
     }

     .login_form .password input{
        width: 230px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;

     }

     .login_form .submit input{
        width: 100px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;
        margin-bottom: 50px;
        background-color: #5d5d5d;
        color: white;
        margin-left: 180px;
        margin-top: 40px;
        transition: 0.5s;
     }

     .login_form .submit input:hover{
        background-color: #000;
     }

     #login{
        display: inline-block;
        border: solid 1px #000000;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: white;
        margin-left: 130px;
     }

    
    /* ログインフォームのレイアウトの終わり */



    /* 新規登録画面のレイアウトの初め */

    #new{
        display: inline-block;
        border: solid 1px #000000;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: white;
        margin-left: 130px;
     }

    .new_form{
        width: 530px;
        border: solid 1px #000000;
        margin-left: 180px;
        margin-right: 180px;
        background-color: white;
        border-radius: 10px;
    }

    .new_form form{
        padding-left: 55px;
        padding-top :20px;
        font-size: 16px;
    }

    .new_form label{
        margin-bottom: 5px;
        display: inline-block;
     }

     .new_form .name{
        margin-bottom: 25px;
     }

     .new_form .name input{
        width: 230px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;

     }

     .new_form .password{
        margin-bottom: 25px;
     }

     .new_form .password input{
        width: 230px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;

     }

     .new_form .grade{
        margin-bottom: 25px;
     }

     .new_form .grade select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     .new_form .semester{
        margin-bottom: 25px;
     }

     .new_form .semester select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     .new_form .private{
      margin-bottom: 25px;
     }

     .new_form .private input{
      transform: scale(1.5);
      margin-left: 10px;
     }

     .new_form .submit input{
        width: 100px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;
        margin-bottom: 50px;
        background-color: #5d5d5d;
        color: white;
        margin-left: 180px;
        margin-top: 40px;
        transition: 0.5s;
     }

     .new_form .submit input:hover{
        background-color: #000;
     }

     #new_error_msgs{
        color: red;
        list-style: none;
        padding-left: 150px;
        padding-top: 2px;
       
     }

     .new_form ul{
        padding-top: 15px;
        padding-bottom: 10px;
     }


     /* 新規登録画面のレイアウトの終わり */

     #new2{
        display: inline-block;
        border: solid 1px #000000;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: white;
        margin-left: 0px;
     }

     .new2_form{
      border: solid 1px #000000;
      margin-left: 30px;
      margin-right: 30px;
      background-color: white;
      border-radius: 10px;
      margin-bottom: 50px;
      width: 880px;
     }

     .new2_form form{
      padding-left: 20px;
      padding-top :20px;
      padding-right: 20px;
      font-size: 16px;
  }

     .new2_form label{
      margin-bottom: 5px;
      display: inline-block;
   }

   .new2_form .actions input{
      width: 100px;
      height: 30px;
      display: block;
      border: solid 1px  #3f3f3f;
      border-radius: 2px;
      font-size: 13px;
      margin-bottom: 50px;
      background-color: #5d5d5d;
      color: white;
      margin-left: 400px;
      margin-top: 40px;
      transition: 0.5s;
   }

   .new2_form .actions input:hover{
      background-color: #000;
   }

   .nested-fields1{
      border: solid 1px  #3f3f3f;
      margin-top: 20px;
      margin-bottom: 60px;
      padding-top: 10px;
      
     
   }

   .nested-fields1 input{
        width: 230px;
        height: 30px;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;
   }

   .nested-fields2 {
      padding-left: 68px;
      padding-top: 20px;
   }

   .sublinks{
      padding-left: 730px;
      padding-top: 25px;
      padding-bottom: 10px;
   }

   #main{
      border-bottom: solid 1px #3f3f3f;
      padding-left: 50px;
      padding-bottom: 10px;
   }



     /* トップページのレイアウトの始まり */

     .top{
        background-image: url("image.jpg");
        background-size: 100% 100%;
       
     }

     .top p{
        color: #3f3f3f;
        text-align: center;
        padding-top: 180px;
        font-size: 40px;
        font-weight: 400;
     }

     /* トップページのレイアウトの終わり */


    /* ブックマークの始まり */
     .index_bookmark td{
        border: solid 1px #000000;
        font-size: 19px;
     }

     

     .index_bookmark table{
        margin-left: 50px;
        border-spacing: 0px 20px;
        
     }

     .monday{
        border: solid 1px #000000;
        margin-left: 50px;
        margin-right: 60px;
        background-color: white;
        border-radius: 10px;
        width: 840px;
     }

     .tuesday{
        border: solid 1px #000000;
        margin-left: 50px;
        margin-right: 60px;
        background-color: white;
        border-radius: 10px;
        width: 840px;
     }

     .wednesday{
        border: solid 1px #000000;
        margin-left: 50px;
        margin-right: 60px;
        background-color: white;
        border-radius: 10px;
        width: 840px;
     }

     .thursday{
        border: solid 1px #000000;
        margin-left: 50px;
        margin-right: 60px;
        background-color: white;
        border-radius: 10px;
        width: 840px;
     }

     .friday{
        border: solid 1px #000000;
        margin-left: 50px;
        margin-right: 60px;
        background-color: white;
        border-radius: 10px;
        width: 840px;
     }

     .saturday{
        border: solid 1px #000000;
        margin-left: 50px;
        margin-right: 60px;
        background-color: white;
        border-radius: 10px;
        width: 840px;
     }

     .sunday{
        border: solid 1px #000000;
        margin-left: 50px;
        margin-right: 60px;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 30px;
        width: 840px;
     }

     .index_bookmark p{
        border: solid 1px #000000;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        color: black;
        
     }

     .index_bookmark p:nth-of-type(1){
        background-color:pink;
     }  /* 月曜日のpの文字色変更 */

     .index_bookmark p:nth-of-type(2){
        background-color: rgb(251, 251, 177);
     }  /* 火曜日のpの文字色変更 */

     .index_bookmark p:nth-of-type(3){
        background-color: rgb(0, 234, 255);
     }  /* 水曜日のpの文字色変更 */

     .index_bookmark p:nth-of-type(4){
        background-color: rgb(204, 245, 143);
     }  /* 木曜日のpの文字色変更 */

     .index_bookmark p:nth-of-type(5){
        background-color: rgb(246, 197, 104);
     }  /* 金曜日のpの文字色変更 */

     .index_bookmark p:nth-of-type(6){
        background-color: rgb(147, 147, 246);
     }  /* 土曜日のpの文字色変更 */

     .index_bookmark p:nth-of-type(7){
        background-color: rgb(247, 116, 116);
     }  /* 日曜日のpの文字色変更 */


     #bookmark_success{
        
        display: inline-block;
        font-size: 18px;
        padding-left: 250px;
        color:green;
        margin-left: 25px;
     }


    /* ブックマークの終わり */

    /* 時間割のレイアウトの始まり */
     .time_table td{
        border: solid 1px #000000;
        width: 100px;
        height: 80px;
        text-align: center;
     }

     .time_table th{
        border: solid 1px #000000;
        font-weight: normal;
        font-size: 50px;
        color: white;
        text-shadow: 1px 1px 0 #000,
                     -1px 1px 0 #000,
                     1px -1px 0 #000,
                    -1px -1px 0 #000;
        width: 100px;
        height: 80px;
     }

     #monday{
        color: pink;
     }

     #tuesday{
        color: rgb(251, 251, 177);
     }

     #wednesday{
        color: rgb(0, 234, 255);
     }

     #thursday{
        color: rgb(204, 245, 143);
     }

     #friday{
        color: rgb(246, 197, 104);
     }

     #saturday{
        color: rgb(147, 147, 246);
     }

     #sunday{
        color: rgb(247, 116, 116);
     }

     #one{
        color: rgb(251, 251, 177);
     }

     #two{
        color: rgb(0, 234, 255);
     }

     #three{
        color: rgb(204, 245, 143);
     }

     #four{
        color: rgb(246, 197, 104);
     }

     #five{
        color: rgb(147, 147, 246);
     }

     #six{
        color: rgb(247, 116, 116);
     }

     #seven{
        color: pink;
     }


     .time_table table{
        border: solid 1.5px #000000;
        background-color: white;
        margin-left: 50px;
        margin-top: 15px;
        border-radius: 5px;
        width: 777px;
     }

     #table{
        display: inline-block;
        border: solid 1px #000000;
        margin-top: 20px;
        font-size: 20px;
        background-color: white;
     }

     #success{
        width: 150px;
        font-size: 18px;
        padding-left: 330px;
        padding-right: 320px;
        padding-top: 9px;
        padding-bottom: 7px; 
        color:green;
        margin-left: 25px;
        border-radius: 5px;
     }

     #no_authority_after_login{
      display: inline-block;
      font-size: 18px;
      padding-left: 330px;
      padding-right: 320px;
      padding-top: 9px;
      padding-bottom: 7px; 
      color:red;
      margin-left: 25px;
      border-radius: 5px;
     }


    /* 時間割のレイアウトの終わり */



    /* ブックマーク登録のレイアウトの始まり */
     .new_bookmark{
        border: solid 1px #000000;
        margin-left: 180px;
        margin-right: 180px;
        margin-bottom: 30px;
        background-color: white;
        border-radius: 10px;
        width: 550px;
     }

     .new_bookmark form{
        padding-left: 55px;
        padding-top :20px;
        font-size: 16px;
     }

     .new_bookmark label{
        margin-bottom: 5px;
        display: inline-block;
     }

     .new_bookmark .name{
        margin-bottom: 25px;
     }

     .new_bookmark .name input{
        width: 230px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;

     }

     .new_bookmark .week{
        margin-bottom: 25px;
     }

     .new_bookmark .week select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     .new_bookmark .period{
        margin-bottom: 25px;
     }

     .new_bookmark .period select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     .new_bookmark .credit{
        margin-bottom: 25px;
     }

     .new_bookmark .credit select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     .new_bookmark .necessary{
        margin-bottom: 25px;
     }

     .new_bookmark .necessary input{
        transform: scale(1.5);
        margin-left: 10px;
     }

     .new_bookmark .maincredit{
      margin-bottom: 25px;
     }

     .new_bookmark .maincredit select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     .new_bookmark .subcredit{
      margin-bottom: 25px;
     }

     .new_bookmark .subcredit select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     .new_bookmark .submit input{
        width: 100px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;
        margin-bottom: 50px;
        background-color: #5d5d5d;
        color: white;
        margin-left: 180px;
        margin-top: 10px;
        transition: 0.5s;
     }

     .new_bookmark .submit input:hover{
        background-color: #000;
     }
     
     #bookmark{
        display: inline-block;
        border: solid 1px #000000;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        background-color: white;
     }

     #bookmark_error_msgs{
        color: red;
        list-style: none;
        padding-left: 180px;
        padding-top: 2px;
     }

     .new_bookmark ul{
        padding-top: 15px;
     }



    /* ブックマーク登録のレイアウトの終わり */

    /* プロフィール設定のレイアウトの始まり */
    .setting{
        border: solid 1px #000000;
        margin-left: 180px;
        margin-right: 180px;
        background-color: white;
        border-radius: 10px;
        width: 530px;
    }

    .setting form{
        padding-left: 55px;
        padding-top :20px;
        font-size: 16px;
    }

    .setting label{
        margin-bottom: 5px;
        display: inline-block;
     }

     .setting .name{
        margin-bottom: 25px;
     }

     .setting .name input{
        width: 230px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;

     }

     .setting .grade{
        margin-bottom: 25px;
     }

     .setting .grade select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     .setting .semester{
        margin-bottom: 25px;
     }

     .setting .semester select{
        display: block;
        width: 200px;
        font-size: 30px;
     }

     #setting{
        display: inline-block;
        border: solid 1px #000000;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        background-color: white;
     }

     .setting .submit input{
        width: 100px;
        height: 30px;
        display: block;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;
        margin-bottom: 50px;
        background-color: #5d5d5d;
        color: white;
        margin-left: 180px;
        margin-top: 40px;
        transition: 0.5s;
     }

     .setting .submit input:hover{
        background-color: #000;
     }

     #setting_flash{
        color: green;
        padding-left: 150px;
        padding-top: 15px;
     }

     #setting_error_msgs{
        color: red;
        list-style: none;
        padding-left: 200px;
        padding-top: 2px;
     }

     .setting ul{
        padding-top: 15px;
        padding-bottom: 10px;
     }

     /* プロフィール設定のレイアウトの終わり */

     /* 設定部分のアコーディンメニューレイアウトの始まり */

     .none{
      display: none;
     }

     .contents li{
      list-style: none;
      height: 35px;
      padding-top: 10px;
      font-size: 100%;
      color: black;
      padding-left: 4px;
      
     }

     .setting-content{
      height: 186px;
      width:108px;
      position: fixed;
      background-color:   #fffcfc;
      border: solid 2px  black;
      margin-left: 811px;
      border-top: none;
     }

     #usersetting{
      border-bottom: solid 2px  black;
     }

     #usersetting a{
      text-decoration: none;
     }


     #usersetting:hover{
      background-color: rgb(216, 222, 228);
     }

     #usersetting a:visited{
      color: black;
     }

     #creditsetting{
      padding-left: 20px;
      border-bottom: solid 2px  black;
     }

     #creditsetting a{
      text-decoration: none;
     }

     #creditsetting a:visited{
      color: black;
     }

     #creditsetting:hover{
      background-color: rgb(216, 222, 228);
     }

     #getcreditsetting{
      padding-left: 13px;
      border-bottom: solid 2px  black;
     }

     #getcreditsetting a{
      text-decoration: none;
     }

     #getcreditsetting a:visited{
      color: black;
     }

     #getcreditsetting:hover{
      background-color: rgb(216, 222, 228);
     }

     #logout-setting{
      padding-left: 13px;
     }

     #logout-setting a{
      text-decoration: none;
     }

     #logout-setting a:visited{
      color: black;
     }

     #logout-setting:hover{
      background-color: rgb(216, 222, 228);
     }



     /* 設定部分のアコーディンメニューレイアウトの終わり */

     /* 予定調整のアコーディオンメニューレイアウトの始まり */
     .schedule-content{
      height: 140px;
      width:136px;
      position: fixed;
      background-color:   #fffcfc;
      border: solid 2px  black;
      margin-left: 673.5px; 
      border-top: none;
     }

     .schedule-content li{
      text-align: center;
     }

     #usersearch{
      border-bottom: solid 2px  black;
     }

     #usersearch a{
      text-decoration: none;
     }

     #usersearch a:visited{
      color: black;
     }

     #usersearch:hover{
      background-color: rgb(216, 222, 228);
     }


     #userindex{
      border-bottom: solid 2px  black;
     }

     #userindex a{
      text-decoration: none;
     }

     #userindex a:visited{
      color: black;
     }

     #userindex:hover{
      background-color: rgb(216, 222, 228);
     }

     #reservetable a{
      text-decoration: none;
     }

     #reservetable a:visited{
      color: black;
     }

     #reservetable:hover{
      background-color: rgb(216, 222, 228);
     }

     /* 予定調整のアコーディオンメニューレイアウトの終わり */


     /* 取得単位数のレイアウトの始まり */

     #getcredit{
        display: inline-block;
        border: solid 1px #000000;
        margin-top: 20px;
        font-size: 20px;
        background-color: white;
     }

     .getcredit-table{
      width: 777px;
     }

     .getcredits-table table{
      border: solid 1.5px #000000;
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 5px;
      background-color: white;
      margin-bottom: 50px;
     }

     .getcredits-table th{
      border: solid 1px #000000;
      width: 205px;
      height: 80px;
     }

     .getcredits-table td{
      border: solid 1px #000000;
      width: 150px;
      height: 80px;
      text-align: center;
     }

     .getcredit-submit input{
      width: 100px;
      height: 30px;
      display: block;
      border: solid 1px  #3f3f3f;
      border-radius: 2px;
      font-size: 13px;
      margin-bottom: 50px;
      background-color: #5d5d5d;
      color: white;
      margin-left: 420px;
      margin-top: 40px;
      transition: 0.5s;
     }

     .getcredit-submit input:hover{
      background-color: #000;
     }

     .getcredits-table input{
        width: 80px;
        height: 30px;
        border: solid 1px  #3f3f3f;
        border-radius: 2px;
        font-size: 13px;
     }
     /* 取得単位数のレイアウトの終わり */



     /* 取得単位数の推移のレイアウト*/
     #getcredit-table{
      display: inline-block;
      border: solid 1px #000000;
      margin-top: 100px;
      font-size: 20px;
      background-color: white;
   }

     /* 取得単位数の推移のレイアウト*/

     /* ユーザー検索のレイアウト*/
     #user-search{
      display: inline-block;
      border: solid 1px #000000;
      margin-top: 20px;
      font-size: 20px;
      background-color: white;
     }

     .search{
      margin-left: 50px;
      margin-top: 50px;
      width: 700px;
     }

     .search input[type="text"]{
      width: 560px;
      height: 44px;
      border-radius: 10px;
      font-size: 18px;
      
     }

     .search input[type="submit"]{
      width: 80px;
      height: 42px;
      border: solid 1px  #3f3f3f;
      border-radius: 2px;
      font-size: 13px;
      margin-bottom: 50px;
      margin-left: 5px;
      background-color: #5d5d5d;
      color: white;
      transition: 0.5s;
     }

     .userpage{
        border: solid 1px #000000;
        background-color: white;
        border-radius: 10px;
     }

     .userpage td{
      border: solid 1px #000000;
      font-size: 19px;
     }

     .userpage table{
      margin-left: 50px;
      border-spacing: 0px 20px; 
   }

   #usersearch_success{
        
      display: inline-block;
      font-size: 18px;
      padding-left: 250px;
      color:green;
      margin-left: 25px;
   }

   

     
     /* ユーザー検索のレイアウトの終わり*/

     /* フォローユーザー一覧のレイアウトの開始 */
     #follows{
      display: inline-block;
      border: solid 1px #000000;
      margin-top: 20px;
      font-size: 20px;
      background-color: white;
     }
     .follows {
        border: solid 1px #000000;
        background-color: white;
        border-radius: 10px;
        margin-top: 30px;
        width: 750px;
     }
     .follows td{
      border: solid 1px #000000;
      font-size: 19px;
     }
     .follows table{
      margin-left: 50px;
      border-spacing: 0px 20px; 
     }

     #follows_success{
      display: inline-block;
      font-size: 18px;
      padding-left: 150px;
      color:green;
      margin-left: 25px;
     }
     
     /* フォローユーザー一覧のレイアウトの終わり */

     @media (max-width: 1024px){
      
     }
     @media (max-width: 599px){

     }